<!-- <div class="navbarWrapper">
  <div class="navLogo">
    <a [routerLink]="['/']"><img src="" /><mat-icon>games</mat-icon></a>
  </div>
  <div class="navbar">
    <a>Início</a>
    <a class="navDropdown">
      <span>Categorias</span>
      <div class="navDropdown-content">
        <a>Análises</a>
        <a
          >Notícias
          <div class="navDropdown-content">
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
          </div>
        </a>
      </div>
    </a>
    <a>Assuntos</a>
  </div>
</div> -->

<div class="navbarWrapper">
  <div class="leftContent">
    <div class="navLogo">
      <a [routerLink]="['/']"><img src="" /><mat-icon>games</mat-icon></a>
    </div>
    <div class="navbarMenu">
      <ul>
        <li><a [routerLink]="['/']">Início</a></li>
        <li class="navbarDropdown">
          <a href="javascript:void(0)" class="dropbtn">Categorias</a>
          <div class="navbarDropdown-content">
            <a [routerLink]="['/']">Análises</a>
            <li class="navbarDropdownNews">
              <a [routerLink]="['/']">Notícias</a>
              <ul class="navbarDropdownCats">
                <li><a [routerLink]="['/']">Games</a></li>
                <li><a [routerLink]="['/']">Smartphones</a></li>
                <li><a [routerLink]="['/']">Tecnologia</a></li>
                <li><a [routerLink]="['/']">Entretenimento</a></li>
              </ul>
            </li>
          </div>
        </li>
        <li><a [routerLink]="['/tags']">Assuntos</a></li>
      </ul>
    </div>
  </div>
</div>
