.navbarWrapper {
  width: 100vw;
  height: 64px;
  position: relative;
  background-color: #212121;
  display: flex;
  padding: 0 4rem;
  color: #f1f1f1;
  align-items: center;

  @media (max-width: 768px) {
    padding: 0;
    justify-content: center;
  }
}

.navLogo {
  margin-right: 2rem;
  .mat-icon {
    color: #30bdff;
    font-size: 40px;
  }
}

.navbar {
  font-size: 16px;

  a {
    padding: 0.5rem;
    border-radius: 8px;
    transition: linear 0.2s;
    &:active {
      background-color: #383838;
    }
  }

  a + a {
    margin-left: 0.5rem;
  }
}
