<div class="navbarWrapper">
  <div class="leftContent">
    <div class="navLogo">
      <a [routerLink]="['/']"
        ><img src="" /><mat-icon class="miniLogo">games</mat-icon></a
      >
    </div>
    <div class="navbarMenu">
      <ul>
        <li><a [routerLink]="['/']">Início</a></li>
        <app-dropdown-categorias></app-dropdown-categorias>
        <li><a [routerLink]="['/tags']">Assuntos</a></li>
      </ul>
    </div>
  </div>

  <div class="rightContent">
    <form class="searchBar" #f="ngForm" (ngSubmit)="pesquisar(f)">
      <input
        [(ngModel)]="pesquisa"
        type="search"
        placeholder="Buscar..."
        class="inputSearch"
        id="navbarSearch"
        name="pesquisa"
      />
      <button type="submit" class="submitSearch">
        <mat-icon class="submitIcon">search</mat-icon>
      </button>
    </form>
    <app-seletor-usuario></app-seletor-usuario>
  </div>
</div>
