<div class="navbarWrapper">
  <div class="leftContent">
    <div class="navLogo">
      <a [routerLink]="['/']"
        ><img src="" /><mat-icon class="miniLogo">games</mat-icon></a
      >
    </div>
    <div class="navbarMenu">
      <ul>
        <li><a [routerLink]="['/']">Início</a></li>
        <li class="navbarDropdown">
          <a href="javascript:void(0)" class="dropbtn">Categorias</a>
          <div class="navbarDropdown-content">
            <a [routerLink]="['/']">Análises</a>
            <li class="navbarDropdownNews">
              <a [routerLink]="['/']" class="newsArrow">Notícias</a>
              <ul class="navbarDropdownCats">
                <li><a [routerLink]="['/']">Games</a></li>
                <li><a [routerLink]="['/']">Smartphones</a></li>
                <li><a [routerLink]="['/']">Tecnologia</a></li>
                <li><a [routerLink]="['/']">Entretenimento</a></li>
              </ul>
            </li>
          </div>
        </li>
        <li><a [routerLink]="['/tags']">Assuntos</a></li>
      </ul>
    </div>
  </div>
  <div class="rightContent">
    <form class="searchBar">
      <input
        type="search"
        placeholder="Buscar..."
        class="inputSearch"
        id="navbarSearch"
      />
      <button type="submit" class="submitSearch">
        <mat-icon class="submitIcon">search</mat-icon>
      </button>
    </form>
  </div>
</div>
