<div class="postagemWrapper" *ngIf="uniquePost && categorias && tags">
  <div class="postagemHeader">
    <div class="postagemTitulo">
      <p>
        {{ uniquePost.post.titulo }}
      </p>
      <p class="pSubtitulo">
        {{ uniquePost.post.descricao }}
      </p>
    </div>
  </div>
  <div class="postagemSocial">
    <div class="postagemInfo">
      <div class="postagemData">
        Publicado 11 de Maio de 2020 às 14:37
      </div>
      <div class="postagemShare">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
    </div>
    <div class="postagemUsuario">
      <span class="nomeUsuario"
        ><span class="porUsuario">Por:</span
        >{{ uniquePost.post.usuario.username }}</span
      >
      <div class="fotoUsuario">
        <img src="{{ uniquePost.post.usuario.avatar }}" />
      </div>
    </div>
  </div>
  <div class="postagemTexto">
    <div>
      {{ uniquePost.post.corpo }}
    </div>
  </div>
  <div class="postagemFamilia">
    <p class="postagemCategorias">
      {{ categorias.join(", ") }}
    </p>
    <p class="postagemTags">
      {{ tags.join(", ") }}
    </p>
  </div>
</div>
