<div class="reviewCard">
  <div class="reviewWrapper">
    <div class="imgReviewPost">
      <div class="reviewTitulo">Persona 5</div>
      <a [routerLink]="['/']">
        <img src="https://via.placeholder.com/1280x720.png" />
      </a>
    </div>
  </div>

  <div class="reviewWrapper">
    <div class="imgReviewPost">
      <div class="reviewTitulo">Persona 5</div>
      <a [routerLink]="['/']">
        <img src="https://via.placeholder.com/1280x720.png" />
      </a>
    </div>
  </div>

  <div class="reviewWrapper">
    <div class="imgReviewPost">
      <div class="reviewTitulo">Persona 5</div>
      <a [routerLink]="['/']">
        <img src="https://via.placeholder.com/1280x720.png" />
      </a>
    </div>
  </div>

  <div class="reviewWrapper">
    <div class="imgReviewPost">
      <div class="reviewTitulo">Persona 5</div>
      <a [routerLink]="['/']">
        <img src="https://via.placeholder.com/1280x720.png" />
      </a>
    </div>
  </div>
</div>
