p {
  margin: 0;
}

// FORM de comentário

.std-form {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;

  .infoUser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media (max-width: 649px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  mat-form-field {
    min-width: 150px;
    width: 100%;
    margin-right: 30px;
  }
}

mat-toolbar {
  background: none;
}

.formButtons {
  display: flex;
  justify-content: space-around;
}

.enviarButton {
  background-color: #0096dd;
  color: #f1f1f1;
}

input.matInput {
  border: 1px solid red !important;
}

// Comentário

.comentarioWrapper {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  padding: 1rem;
}

.comentarioContent {
  min-height: 150px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1d1d1;
  background: url("../../../../assets/img/commentBackground.png");
  background-position: center right;
  background-repeat: no-repeat;

  @media (max-width: 599px) {
    background-image: none;
    min-height: auto;
  }
}

.comentarioContent + .comentarioContent {
  margin-top: 1rem;
}

.comentarioUser {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 32px 1fr;
  align-items: center;
  max-width: 180px;
  margin-bottom: 0.5rem;
}

.userImg {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 36px;
    width: auto;
  }
}

.userName {
  font-weight: 500;
  font-size: 16px;
  color: #2c4574;
}

.comentarioText {
  width: calc(100% - 166px);
  padding-left: 1rem;
  font-size: 14px;
  color: #212121;

  @media (max-width: 599px) {
    width: 100%;
  }
}
