<!-- Form de Envio de Comentários -->
<form class="std-form">
  <div class="infoUser">
    <mat-form-field>
      <mat-label>Diga seu nome</mat-label>
      <input
        matInput
        maxlength="50"
        name="name"
        required
        placeholder="Ex: Samus Aran"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Diga seu email</mat-label>
      <input
        type="email"
        name="email"
        matInput
        maxlength="40"
        required
        placeholder="Ex: megamanX@reploid.com"
      />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Faça seu comentário</mat-label>
    <textarea
      matInput
      [maxLength]="280"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="4"
      required
      placeholder="Digite seu comentário (Você tem 280 caracteres)"
    ></textarea>
  </mat-form-field>

  <mat-toolbar>
    <mat-toolbar-row class="formButtons">
      <button mat-raised-button type="submit" class="enviarButton">
        Enviar comentário
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>

<!-- Comentário dos Usuários -->
<div class="comentarioWrapper" *ngIf="data.length !== 0">
  <!-- Comentário começa aqui -->
  <div class="comentarioControl" *ngFor="let coment of data">
    <div class="comentarioContent">
      <div class="comentarioUser">
        <div class="userImg">
          <img
            src="{{
              coment.usuario
                ? coment.usuario.avatar
                : '../../../../assets/img/profileAvatar.png'
            }}"
            alt="Imagem do usuário"
          />
        </div>
        <span class="userName">{{
          coment.usuario ? coment.usuario.username : coment.nome
        }}</span>
      </div>

      <div class="comentarioText">
        <p>
          {{ coment.texto }}
        </p>
      </div>
    </div>
    <div class="buttonControl">
      <span>Editar</span>
      <span>Excluir</span>
    </div>
  </div>
  <!-- Comentário termina aqui -->
</div>
