<div class="postNews">
  <div class="imgPostNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>

<div class="postNews">
  <div class="imgPostNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>

<div class="postNews">
  <div class="imgPostNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>

<div class="postNews">
  <div class="imgPostNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>

<div class="postNews">
  <div class="imgPostNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>
