<div
  *ngFor="
    let post of allPosts
      | paginate: { itemsPerPage: 5, currentPage: paginaAtual };
    let i = index
  "
  class="postNews"
>
  <div class="imgPostNews">
    <a routerLink="/post/{{ post._id }}">
      <img src="{{ post.banner }}" />
    </a>
  </div>
  <div class="tituloPostNews">
    <a routerLink="/post/{{ post._id }}">
      <p>
        {{ post.titulo }}
      </p>
    </a>
  </div>
</div>
<pagination-controls
  (pageChange)="paginaAtual = $event"
  autoHide="true"
  previousLabel="Anterior"
  nextLabel="Próximo"
  screenReaderPaginationLabel="shazam"
  class="paginacaoNews"
  responsive="true"
></pagination-controls>
