<div
  *ngFor="
    let post of postData
      | paginate: { itemsPerPage: itemsPerPage, currentPage: paginaAtual };
    let i = index
  "
  class="postNews"
>
  <div class="imgPostNews">
    <img src="{{ post.postId ? post.postId.banner : post.banner }}" />
  </div>
  <div class="tituloPostNews">
    <p>
      {{ post.postId ? post.postId.titulo : post.titulo }}
    </p>
  </div>
</div>
<pagination-controls
  (pageChange)="paginaAtual = $event"
  autoHide="true"
  previousLabel="Anterior"
  nextLabel="Próximo"
  screenReaderPaginationLabel="shazam"
  class="paginacaoNews"
  responsive="true"
></pagination-controls>
