<div class="navbarWrapper">
  <!-- <input type="checkbox" class="checkboxBar" name="navbarCheckbox" /> -->
  <div class="leftContent">
    <div class="navLogo">
      <a [routerLink]="['/']"><img src="" />
        <mat-icon class="miniLogo">games</mat-icon>
      </a>
    </div>
    <div class="navbarMenu">
      <ul>
        <li><a [routerLink]="['/']">Início</a></li>
        <li><a [routerLink]="['/tags']">Assuntos</a></li>
        <app-dropdown-categorias></app-dropdown-categorias>
      </ul>
    </div>
  </div>

  <div class="rightContent">
    <form class="searchBar" #f="ngForm" (ngSubmit)="pesquisar(f)">
      <input [(ngModel)]="pesquisa" type="search" placeholder="Buscar..." class="inputSearch" id="navbarSearch"
        name="pesquisa" />
      <button type="submit" class="submitSearch">
        <mat-icon class="submitIcon">search</mat-icon>
      </button>
    </form>
    <div class="navbarMenu">
      <ul>
        <li class="navbarDropdownNews" *ngIf="loggedIn$ | async; else loggedOut">
          <div class="postagemUsuario">
            <span>{{ (user$ | async)?.username }}</span>
            <div class="fotoUsuario" *ngIf="profilePic">
              <img src="{{profilePic}}" />
            </div>
          </div>
          <a routerLink="/me" class="newsArrow">Perfil</a>
          <button type="button" (click)="signOut()">Sair</button>
        </li>
        <ng-template #loggedOut>
          <li><a [routerLink]="['/auth']">Entrar</a></li>
          <li><a [routerLink]="['/sign-up']">Criar Conta</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>