.mat-toolbar {
  background-color: #212121;
  color: #f1f1f1;
  max-width: 100%;
  height: 165px;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 290px 1fr;

  a + a {
    margin-left: 16px;
  }
}

.footerTitle {
  font-size: 24px;
  color: #ccedff;
}

.footerSocial {
  margin-bottom: 12px;

  span {
    color: #30bdff;
    font-size: 32px;
    font-family: FontAwesome;
  }
}

#copyright {
  font-size: 14px;
  color: #788c95;
  margin-bottom: 0px;
  width: auto;
  font-weight: normal;
  line-height: 0.5rem;
}

.rightFooter {
  font-size: 16px;
  text-align: right;
  @media (max-width: 768px) {
    display: none;
  }
}

.footerCategories {
  color: #30bdff;
}

.footerSubCategories {
  color: #ccedff;
  font-weight: normal;
}
