<div class="footerWrapper">
  <div class="footerSocial">
    <ul class="footerTitle">
      <p>GM Blog</p>
    </ul>
    <ul class="footerRedes">
      <a href="http://facebook.com" target="_blank"
        ><span class="fab fa-facebook"></span
      ></a>
      <a href="http://twitter.com" target="_blank"
        ><span class="fab fa-twitter"></span
      ></a>
      <a href="http://instagram.com" target="_blank"
        ><span class="fab fa-instagram"></span
      ></a>
    </ul>
    <ul class="footerCopyright">
      <p>© 2020 GMDev</p>
      <p>Todos os direitos reservados</p>
    </ul>
  </div>
  <div class="footerConteudo">
    <ul class="footerCategorias">
      <a [routerLink]="['/']" target="_blank">Notícias</a>
      <a [routerLink]="['/']" target="_blank">Análises</a>
    </ul>
    <ul class="footerTags">
      <a [routerLink]="['/']" target="_blank">Games</a>
      <a [routerLink]="['/']" target="_blank">Smartphones</a>
      <a [routerLink]="['/']" target="_blank">Tecnologia</a>
      <a [routerLink]="['/']" target="_blank">Entretenimento</a>
    </ul>
  </div>
</div>
