<mat-toolbar class="footer">
  <div>
    <p class="footerTitle">GM Blog</p>
    <div class="footerSocial">
      <a><span class="fab fa-facebook"></span></a>
      <a><span class="fab fa-twitter"></span></a>
      <a><span class="fab fa-instagram"></span></a>
    </div>
    <p id="copyright">© 2020 GMBlog. Todos os direitos reservados.</p>
  </div>

  <div>
    <div class="rightFooter">
      <a class="footerCategories">Notícias</a>
      <a class="footerCategories">Análises</a>
    </div>
    <div class="rightFooter">
      <a class="footerSubCategories">Playstation</a>
      <a class="footerSubCategories">Xbox</a>
      <a class="footerSubCategories">Nintendo</a>
      <a class="footerSubCategories">PC</a>
      <a class="footerSubCategories">Mobile</a>
    </div>
  </div>
</mat-toolbar>
