<li class="navbarDropdown" *ngIf="allCategorias">
  <a href="javascript:void(0)" class="dropbtn">Categorias</a>
  <div class="navbarDropdown-content" *ngFor="let categoria of allCategorias">
    <a
      routerLink="/busca/PostCategoria/{{ categoria._id }}"
      *ngIf="categoria.subs === undefined; else elseBlock"
      class="Primeiro"
      >{{ categoria.titulo }}</a
    >
    <ng-template class="Segundo" #elseBlock>
      <li class="navbarDropdownNews">
        <a class="newsArrow">{{ categoria.titulo }}</a>
        <ul class="navbarDropdownCats" *ngFor="let subCat of categoria.subs">
          <li>
            <a routerLink="/busca/PostCategoria/{{ subCat._id }}">
              {{ subCat.titulo }}
            </a>
          </li>
        </ul>
      </li>
    </ng-template>
  </div>
</li>
