.mat-card-title {
  color: #0096dd;
  display: flex;
  align-items: center; /* making vertical centerign of all children */
  margin-bottom: 2rem;
}

.mat-card-title::after {
  content: "";
  flex: 1; /* helps elemet to occupy all free space */
  background-color: #0096dd;
  height: 4px;
  border-radius: 20px;
  margin-left: 0.5em;
}

.mat-card-title {
  color: #0096dd;
  display: flex;
  align-items: center; /* making vertical centerign of all children */
}

.mat-card-title::after {
  content: "";
  flex: 1; /* helps elemet to occupy all free space */
  background-color: #0096dd;
  height: 4px;
  border-radius: 20px;
  margin-left: 0.5em;
}
