@import "~material-design-icons/iconfont/material-icons.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./assets/img/backgroundTop.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #30bdff;
}

#content-wrap {
  padding-bottom: 165px; /* Footer height */
}

.bannerLogo {
  max-width: 75%;
  height: auto;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}
