<div class="destaqueNews">
  <div class="imgNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloNews">
    <a [routerLink]="['/']">
      <p>
        Aehoo
      </p>
    </a>
  </div>
</div>

<div class="destaqueNews">
  <div class="imgNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>

<div class="destaqueNews">
  <div class="imgNews">
    <a [routerLink]="['/']">
      <img src="https://via.placeholder.com/1280x768.png" />
    </a>
  </div>
  <div class="tituloNews">
    <a [routerLink]="['/']">
      <p>
        Millie Bobby Brown e Henry Cavill estrelam filme da Netflix sobre
        Sherlock Holmes
      </p>
    </a>
  </div>
</div>
