<div class="tags">
  <a [routerLink]="['/busca/nome']"><p>Activision (21)</p></a>
  <a [routerLink]="['/']"><p>Crash (16)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
  <a [routerLink]="['/']"><p>Activision (21)</p></a>
  <a [routerLink]="['/']"><p>Crash (16)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
  <a [routerLink]="['/']"><p>Activision (21)</p></a>
  <a [routerLink]="['/']"><p>Crash (16)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
  <a [routerLink]="['/']"><p>Activision (21)</p></a>
  <a [routerLink]="['/']"><p>Crash (16)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
  <a [routerLink]="['/']"><p>Activision (21)</p></a>
  <a [routerLink]="['/']"><p>Crash (16)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
  <a [routerLink]="['/']"><p>Resident Evil (11)</p></a>
  <a [routerLink]="['/']"><p>Capcom (8)</p></a>
</div>
