<div class="tags" *ngIf="allTags">
  <div
    *ngFor="
      let tag of allTags
        | paginate: { itemsPerPage: 40, currentPage: paginaAtual };
      let i = index
    "
  >
    <a [routerLink]="['/busca/nome']"
      ><p>{{ tag.titulo }} ({{ tag.qtdePosts }})</p></a
    >
  </div>
</div>
<pagination-controls
  (pageChange)="paginaAtual = $event"
  autoHide="true"
  previousLabel="Anterior"
  nextLabel="Próximo"
  screenReaderPaginationLabel="shazam"
  class="paginacaoNews"
  responsive="true"
></pagination-controls>
